*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: grid;
    
}
div.navigation{
    background-color: blue;
}
header.header{
    background-color: #fff;
}
main.projects{
    color: grey;

}